@model CompetitorsInEventViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Deelnemers @Model.EventNameLong</h1>

<p>
    <a asp-action="Create" asp-route-eventId="@Model.EventId">Voeg deelnemer(s) toe</a>
</p>

<form asp-action="Index" method="get" name="CompetitorsInEvents">
    <select asp-for="FilterTeam"
        asp-items="Model.Teams" onchange="SelectedIndexChanged(this.value)">
        <option>Selecteer team</option>
    </select>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nummer")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competitors)
            </th>
            <th>
                @Html.DisplayName("Team")
            </th>
            <th>
                @Html.DisplayName("Uitgevallen")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Competitors) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetitorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @(item.OutOfCompetition ? "ja" : "")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompetitorInEventId">Wijzig</a> |
                <a asp-action="Delete" asp-route-id="@item.CompetitorInEventId">Verwijder</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<script type="text/javascript">
    function SelectedIndexChanged(searchTeam) {
        var eventId = @Model.EventId;
        window.location.href = "/CompetitorsInEvents/Index?eventId=" + eventId + "&FilterTeam=" + searchTeam;
    }
</script> 