@model WebCycleManager.Models.TeamDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.TeamName (@Model.Country)</h2>
<form asp-action="Details" method="get">
    <input type="hidden" name="id" value="@Model.TeamId" />
    <select name="year" onchange="this.form.submit()">
        @foreach(var year in Model.AvailableYears)
        {
            <option value="@year" selected="@(year == Model.SelectedYear)">
                @year
            </option>
        }
    </select>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Land</th>
            <th>Is kampioen</th>
        </tr>
        @foreach (var c in Model.Competitors)
        {
            <tr>
                <td>@c.FirstName @c.LastName</td>
                <td>@c.Land</td>
                <td>@(c.IsNationalChampion ? "🏆" : "-")</td>
            </tr>
        }
    </thead>
</table>
<div>
@*     <a asp-action="Edit" asp-route-id="@Model?.Id">Wijzig</a> |
    <a asp-action="Index">Terug naar de lijst</a>
 *@</div>
