@model Domain.Models.ConfigurationItem

@{
    ViewData["Title"] = "Delete";
}

<h3>Weet je zeker dat je dit configuratie-item wilt verwijderen?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Configuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Configuration.ConfigurationType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Verwijder" class="btn btn-danger" /> |
        <a asp-controller="Configurations" asp-action="Details" asp-route-id="@Model.ConfigurationId">Terug naar de lijst</a>
    </form>
</div>
