@model GameCompetitorInEventViewModel
<form method="post" asp-controller="GameCompetitorEvents" asp-action="Details">
<div>
    <h4>Deelnemer @Model.TeamName (@Model.Score punten)</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                   naam
                </th>
                <th>
                    achternaam
                </th>
                <th>
                    score
                </th>
                <th>
                    uitgevallen
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if(Model.CompetitorsInEvent != null)
            {
                for(int i=0; i < Model.NumberOfPicks; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.CompetitorsInEvent[i].FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.CompetitorsInEvent[i].LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.CompetitorsInEvent[i].Score)
                        </td>
                        <td>
                            @(Model.CompetitorsInEvent[i].OutOfCompetition ? "ja" : "")
                        </td>
                        </tr>
                    }
                    var toPick = 15 - Model.NumberOfPicks;
                    if (Model.SuggestedCompetitors == null && Model.SuggestedCompetitors.Count == 0)
                    {
                        for (int j = 0; j < toPick; j++)
                        {
                            <tr>
                                <td>
                                    @(j + 1)
                                </td>
                                <td>
                                    @Html.DropDownList($"Model.CompetitorsInEvent[{j}].SelectedCompetitorId",Model.DropdownList, "-- selecteer --", "Value")
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    }
                    else
                    {
                        for (int i = 0; i < Model.SuggestedCompetitors.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.SuggestedCompetitors[i].Competitor.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.SuggestedCompetitors[i].Competitor.LastName)
                                </td>
                                <td>
                                    <button type="button">voeg toe</button>
                                </td>
                                <td>
                                    <button type="button">verwijder</button>
                                </td>
                            </tr>
                        }
                        var aantal = 15 - Model.NumberOfPicks - Model.SuggestedCompetitors.Count;
                        for(int j = 0; j < aantal; j++)
                        {
                            <tr>
                                <td>
                                    @(j + 1)
                                </td>
                                <td>
                                    @Html.DropDownList($"Model.CompetitorsInEvent[{j}].SelectedCompetitorId",Model.DropdownList, "-- selecteer --", "Value")
                                </td>
                                <td></td>
                                <td></td>
                            </tr>

                        }
                    }
            }
        </tbody>
    </table>
</div>
<div>
    <input type="hidden" name="gameCompetitorInEventId" value="@Model.GameCompetitorInEventId" />
    <input type="hidden" name="eventId" value="@Model.EventId" />
        <button type="submit" value="Opslaan">Opslaan</button> | <input type="button"
                                                                        value="Vul lijst"
                                                                        onclick="location.href='@Url.Action("FillList", "GameCompetitorEvents", new { id = Model.GameCompetitorInEventId, picks = Model.NumberOfPicks, eventId = Model.EventId } )'" /> |
    <a asp-action="Index" asp-route-eventId="@Model.EventId">Terug naar de lijst</a>
</div>
</form>
