@using Domain.Models;
@model GameCompetitorInEventViewModel

<div>
    <h4>Deelnemer @Model.TeamName (@Model.Score punten)</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                   naam
                </th>
                <th>
                    achternaam
                </th>
                <th>
                    score
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CompetitorsInEvent)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index" asp-route-eventId="@Model.EventId">Terug naar de lijst</a>
</div>
