@model Domain.Models.Competitor

<h3>Details</h3>
<div>
    <h4>Renner</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PcsName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PcsName)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScraperName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScraperName)
        </dd>
   </dl>
</div>
<div class="d-flex justify-content-between">
    <a asp-action="Index" class="btn btn-outline-secondary">Terug naar de lijst</a>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.CompetitorId">Wijzig</a>
</div>
