@model StageViewModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Weet je zeker dat je deze etappe wilt verwijderen?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinishLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventYear)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StageId" />
        <input type="submit" value="Verwijder" class="btn btn-danger" /> |
        <a asp-action="Index">Terug naar de lijst</a>
    </form>
</div>
