@model StageViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Etappe @Model.StageNameLong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StageOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StageOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinishLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StageId">Wijzig</a> |
    <a asp-action="Index">Terug naar de lijst</a>
</div>
