@using CycleManager.Domain.ViewModel
@model EventDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.EventName</h1>

<div>
    <hr />
    @if (Model.StagesInEvent > 0)
    {
        <h5>Etappes (@Model.StagesInEvent)</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Etappe")
                    </th>
                    <th>
                        @Html.DisplayName("Van")
                    </th>
                    <th>
                        @Html.DisplayName("Naar")
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Stages)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StageName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartLocation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FinishLocation)
                        </td>
                        <td>
                            <a asp-controller="Stages" asp-action="Edit" asp-route-id="@item.StageId">Wijzig</a> |
                            <a asp-controller="Stages" asp-action="Details" asp-route-id="@item.StageId">Details</a> |
                            <a asp-controller="Stages" asp-action="Delete" asp-route-id="@item.StageId">Verwijder</a>

                        </td>
                        <td>
                            <a class="text-danger"  asp-controller="Results" asp-action="Index" asp-route-stageId="@item.StageId">Uitslag</a> |
                            @item.AantalPosities
                        </td>
                        <td>
                            <a class="text-primary"
                               asp-controller="AdminScraper"
                               asp-action="ScrapeAndPair"
                               asp-route-stageId="@item.StageName" asp-route-eventId="@Model.EventId" asp-route-eventName="@Model.EventCode" asp-route-year="@Model.StartDate.Value.Year">
                                Scrape resultaten
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="gap-md-5">
            <p>Geen etappes gedefinieerd.</p>
        </div>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EventId">Bewerk</a> |
    <a asp-action="Index">Terug naar de lijst</a>
</div>
