@model EventViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Evenementen</h1>
<p>
    <a asp-action="Create">Maak nieuw evenement</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Naam")
            </th>
            <th>
                @Html.DisplayName("Jaar")
            </th>
            <th>
                @Html.DisplayName("Startdatum")
            </th>
            <th>
                @Html.DisplayName("Einddatum")
            </th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Events) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Bewerk</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijder</a>
            </td>
            <td>
                    <a asp-controller="CompetitorsInEvents" asp-route-eventId="@item.Id" asp-action="Index">Deelnemers</a> |
                    <a asp-controller="Points" asp-route-eventId="@item.Id" asp-action="Index">Punten</a>
            </td>
        </tr>
    }
    </tbody>
</table>
