@model IEnumerable<Domain.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Evenement</h1>

<p>
    <a asp-action="Create">Maak nieuw evenement</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventId">Bewerk</a> |
                <a asp-action="Details" asp-route-id="@item.EventId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventId">Verwijder</a>
            </td>
            <td>
                <a asp-controller="CompetitorsInEvents" asp-route-eventId="@item.EventId" asp-action="Index">Deelnemers</a>

            </td>
        </tr>
}
    </tbody>
</table>
