@model ConfigurationViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details Configuratie</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigurationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfigurationName)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="ConfigurationItems" asp-action="Create" asp-route-configurationId="@Model.Id">Maak nieuw configuratie-item voor @Model.ConfigurationName</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayName("Positie")</th>
            <th>@Html.DisplayName("Score")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.ConfigurationItems)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                <a asp-controller="ConfigurationItems" asp-action="Edit" asp-route-id="@item.Id">Wijzig</a> |
                <a asp-controller="ConfigurationItems" asp-action="Delete" asp-route-id="@item.Id">Verwijder</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Wijzig</a> |
    <a asp-action="Index">Terug naar de lijst</a>
</div>
