@model ResultViewModel
<h1>@Model.StageName</h1>CompetitorId
 <form method="post" asp-controller="Results" asp-action="Index">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Results.First().Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results.First().CompetitorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @for(var i = 0; i < Model.ConfigurationItems; i++) {
        <tr>
            <td>
                <label>@Model.Results[i].Position</label>
            </td>
            <td>
                @if(Model.Results[i].CompetitorName == string.Empty)
                {
                    @Html.DropDownList($"Model.Results[{i}].SelectedCompetitorId",Model.Results[i].DropdownList, "-- selecteer --", "Value")
                }
                else
                {
                    <label>@Model.Results[i].CompetitorName</label>
                }
            </td>
            <td>
                @if (Model.Results[i].Id > 0)
                {
                    <a asp-action="Delete" asp-route-id="@Model.Results[i].Id">Verwijder</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>

<input type="hidden" id="configurationId" name="configurationId" value="@Model.ConfigurationId" />
<input type="hidden" id="stageId" name="stageId" value="@Model.StageId" />
    <button type="submit" value="Opslaan">Opslaan</button>
</form>

<div>
    <a asp-controller="Events" asp-action="Details" asp-route-id=@Model.EventId>Terug naar evenement</a>
</div>