@model ResultViewModel
<h1>@Model.StageName</h1>
<p>
    <a asp-route-stageId="@Model.StageId" asp-action="Create">Maak nieuw resultaat</a>
</p>
 <form method="post">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Results.First().Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results.First().CompetitorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @for(var i = 0; i < Model.ConfigurationItems; i++) {
        <tr>
            <td>
                <label>@Model.Results[i].Position</label>
            </td>
            <td>
                @if(Model.Results[i].CompetitorName == string.Empty)
                {
                    <select asp-for="@Model.Results[i].SelectedCompetitorId" asp-items="ViewBag.CompetitorId">
                        
                        <option value="0">Selecteer een renner...</option>
                    </select>
                }
                else
                {
                    <label>@Model.Results[i].CompetitorName</label>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Results[i].Id">Wijzig</a> |
                <a asp-action="Delete" asp-route-id="@Model.Results[i].Id">Verwijder</a>
            </td>
        </tr>
}
    </tbody>
</table>
<input type="hidden" id="stageId" name="stageId" value="@Model.StageId" />
<input type="hidden" id="configurationId" name="configurationId" value="@Model.ConfigurationId" />
<input type="submit" asp-route-id="@Model.StageId" value="Opslaan" />
</form>